[submodule "matFigure"]
	path = Exfunctions/matFigure
	url = https://github.com/SiqiLiOcean/matFigure.git

[submodule "matFVCOM"]
	path = Exfunctions/matFVCOM
	url = https://github.com/SiqiLiOcean/matFVCOM.git

[submodule "matNC"]
	path = Exfunctions/matNC
	url = https://github.com/SiqiLiOcean/matNC.git

[submodule "matWRF"]
	path = Exfunctions/matWRF
	url = https://github.com/SiqiLiOcean/matWRF.git

[submodule "Exfunctions/nctoolbox"]
	path = Exfunctions/nctoolbox
	url = https://github.com/nctoolbox/nctoolbox.git

[submodule "Exfunctions/FVCOM_NML"]
	path = Exfunctions/FVCOM_NML
	url = https://github.com/SiqiLiOcean/FVCOM_NML.git

[submodule "Exfunctions/OceanData"]
	path = Exfunctions/OceanData
	url = https://github.com/SiqiLiOcean/OceanData.git

[submodule "Exfunctions/ZoomPlot"]
	path = Exfunctions/ZoomPlot
	url = https://github.com/iqiukp/ZoomPlot-MATLAB.git

[submodule "Exfunctions/vtkToolbox"]
	path = Exfunctions/vtkToolbox
	url = https://github.com/KIT-IBT/vtkToolbox.git

[submodule "Exfunctions/TMDToolbox"]
	path = Exfunctions/TMDToolbox
	url = https://github.com/EarthAndSpaceResearch/TMD_Matlab_Toolbox_v2.5.git

[submodule "Exfunctions/HYCOM2FVCOM"]
	path = Exfunctions/HYCOM2FVCOM
	url = https://github.com/SiqiLiOcean/HYCOM2FVCOM.git

