.idea
.DS_Store
.vscode
.gitR
../../.git
**/*.m~
**/*.asv
**/.git
Exfunctions/matNC
Exfunctions/matWRF
Exfunctions/matFVCOM
Exfunctions/matFigure
Exfunctions/FVCOM_NML
Exfunctions/OceanData
Exfunctions/t_tide
Exfunctions/m_map
Exfunctions/m_map1.4.zip
Exfunctions/*.zip
Exfunctions/nctoolbox
Exfunctions/cdt
Exfunctions/TMDToolbox
Exfunctions/vtkToolbox

