[submodule "Exfunctions/matFigure"]
	path = Exfunctions/matFigure
	url = https://github.com/SiqiLiOcean/matFigure.git

[submodule "Exfunctions/matFVCOM"]
	path = Exfunctions/matFVCOM
	url = https://github.com/SiqiLiOcean/matFVCOM.git

[submodule "Exfunctions/matNC"]
	path = Exfunctions/matNC
	url = https://github.com/SiqiLiOcean/matNC.git

[submodule "Exfunctions/matWRF"]
	path = Exfunctions/matWRF
	url = https://github.com/SiqiLiOcean/matWRF.git

[submodule "Exfunctions/nctoolbox"]
	path = Exfunctions/nctoolbox
	url = https://github.com/nctoolbox/nctoolbox.git

[submodule "Exfunctions/FVCOM_NML"]
	path = Exfunctions/FVCOM_NML
	url = https://github.com/SiqiLiOcean/FVCOM_NML.git

[submodule "Exfunctions/OceanData"]
	path = Exfunctions/OceanData
	url = https://github.com/ChristmasZCY/OceanData.git

[submodule "Exfunctions/ZoomPlot"]
	path = Exfunctions/ZoomPlot
	url = https://github.com/iqiukp/ZoomPlot-MATLAB.git

[submodule "Exfunctions/vtkToolbox"]
	path = Exfunctions/vtkToolbox
	url = https://github.com/KIT-IBT/vtkToolbox.git

[submodule "Exfunctions/TMDToolbox"]
	path = Exfunctions/TMDToolbox
	url = https://github.com/EarthAndSpaceResearch/TMD_Matlab_Toolbox_v2.5.git

[submodule "Exfunctions/HYCOM2FVCOM"]
	path = Exfunctions/HYCOM2FVCOM
	url = https://github.com/SiqiLiOcean/HYCOM2FVCOM.git

[submodule "Exfunctions/kmz2struct"]
	path = Exfunctions/kmz2struct
	url = https://github.com/njellingson/kmz2struct.git

[submodule "Exfunctions/WRF2FVCOM"]
	path = Exfunctions/WRF2FVCOM
	url = https://github.com/SiqiLiOcean/WRF2FVCOM.git

[submodule "Exfunctions/inpolygons-pkg"]
	path = Exfunctions/inpolygons-pkg
	url = https://github.com/kakearney/inpolygons-pkg.git

[submodule "Exfunctions/htool"]
	path = Exfunctions/htool
	url = https://github.com/SiqiLiOcean/htool.git

[submodule "Exfunctions/TMDToolbox_v3_0"]
	path = Exfunctions/TMDToolbox_v3_0
	url = https://github.com/chadagreene/Tide-Model-Driver.git

